@use "global" as *;
@use "mixins" as *;

.aboutus {
	position: relative;
	&__paragraph-label {
		color: $secondary;
	}
	&__main-wrapper {
		margin-top: 5rem;
		color: $background;
		@include min-width(768px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1rem;
		}
	}
	&__coffee-container {
		display: flex;
		flex-direction: column;
		@include min-width(768px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1rem;
		}
		@include min-width(1200px) {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 1rem;
		}
	}
	&__coffee-item {
		position: relative;
		margin: auto;
		width: 100%;
		max-width: 400px;
		height: 325px;
		background-color: $background;
		color: $text;
		overflow: hidden;
		perspective: 1000px;
	}
	&__coffee-item-inner {
		position: relative;
		width: 100%;
		height: 100%;
		transition: transform 0.6s;
		transform-style: preserve-3d;
		&:hover {
			transform: rotateY(180deg);
		}
	}
	&__coffee-item-front,
	&__coffee-item-back {
		position: absolute;
		inset: 0;
		backface-visibility: hidden;
	}
	&__coffee-item-back {
		display: flex;
		justify-content: center;
		transform: rotateY(180deg);
	}
	&__coffee-backside {
		font-size: 0.85rem;
		li {
			list-style: none;
		}
	}
	&__coffee-img {
		width: 100%;
		max-width: 400px;
		height: 325px;
		object-fit: cover;
		@include min-width(1200px) {
			&__coffee-img {
				height: 250px;
			}
		}
	}
	&__coffee-type {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100%;
		transform: translateX(-50%);
		background-color: $secondary;
	}
	&__bg-img {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-image: url("../assets/coffee-beans-bg.jpg");
		background-size: cover;
		z-index: -10;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.8);
		}
	}
}
