@use "global" as *;
@use "mixins" as *;

.cart {
	position: relative;
	&__main-container {
		position: fixed;
		top: 0;
		right: 0;
		margin-top: 66px;
		width: 200px;
		min-height: 50px;
		background-color: $background;
		box-shadow: -10px 10px 10px -5px $text;
	}
	&__remove-btn {
		background-color: red;
		border: none;
	}
}
