@use "global" as *;
@use "mixins" as *;

.cart {
	position: relative;
	&__main-container {
		position: fixed;
		top: 0;
		right: 0;
		margin-top: 66px;
		width: 200px;
		min-height: 50px;
		background-color: $background;
		box-shadow: -10px 10px 10px -5px $text;
	}
	&__remove-btn {
		background-color: rgb(179, 39, 39);
		color: rgb(230, 230, 230);
		border: none;
		&:hover {
			background-color: rgb(184, 77, 77);
			color: rgb(214, 207, 207);
		}
	}
}
