@use "global" as *;
@use "mixins" as *;

.footer {
	background-color: $text;
	color: $background;
	&__main-container {
		display: grid;
		justify-content: center;
		gap: 1rem 2rem;
		@include min-width(576px) {
			grid-template-columns: repeat(2, 1fr);
			gap: 0.25rem 2rem;
		}
		@include min-width(1200px) {
			grid-template-columns: repeat(5, 1fr);
		}
	}
	&__map-container {
		width: 100%;
		height: 300px;
		@include min-width(992px) {
			height: 450px;
		}
	}
	&__container {
		&:nth-child(1) {
			@include min-width(576px) {
				grid-row: 1/3;
			}
			@include min-width(1200px) {
				grid-column: 1/3;
				grid-row: 1/2;
			}
		}
		&:nth-child(2) {
			@include min-width(576px) {
				grid-column: 2/3;
				grid-row: 1/2;
			}
			@include min-width(1200px) {
				grid-column: 1/3;
				grid-row: 2/3;
			}
		}
		&:nth-child(3) {
			@include min-width(576px) {
				grid-column: 2/3;
				grid-row: 2/3;
			}
			@include min-width(1200px) {
				grid-column: 1/3;
				grid-row: 3/4;
			}
		}
		&:nth-child(4) {
			@include max-width(1200px) {
				grid-column: 1/-1;
			}
			@include min-width(1200px) {
				grid-column: 3/6;
				grid-row: 1/4;
			}
		}
	}
	&__icon {
		padding: 0.25rem;
		width: 40px;
		height: 40px;
		background-color: $background;
		transition: 0.3s;
		border-radius: 50%;
		cursor: pointer;
		&:hover {
			background-color: $secondary;
		}
	}
}
footer {
	background-color: $background;
	color: $text;
}
