@use "global" as *;
@use "mixins" as *;

.menu {
	position: relative;
	background-color: $secondary;
	&__menu-items-container {
		display: flex;
		margin: 10rem 0 5rem;
		gap: 2rem 1rem;

		@include min-width(576px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
		@include min-width(992px) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
		@include min-width(1400px) {
			display: flex;
		}
	}
	&__item {
		width: 250px;
		height: 250px;
		@include min-width(1400px) {
			width: 280px;
			height: 280px;
		}
	}
	&__img-item {
		position: relative;
		width: 100%;
		height: 100%;
		background-image: url("../assets/coffee-paper-cup.png");
		background-position: center;
		background-size: cover;
		transition: transform 0.3s ease-in-out;
		&:hover {
			transform: scale(1.1);
		}
	}
	&__coffee-name {
		position: absolute;
		top: 35%;
		right: 49%;
		background-color: $text;
		color: $background;
		transform: translate(50%, 50%);
	}.cart-btn {
		border: 1px solid $text;
	}
}
